API_BASE_URL=http://10.0.2.2:5000
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=

# Catatan URL backend:
# - Android emulator: http://10.0.2.2:5000
# - iOS simulator / desktop: http://localhost:5000
# - HP fisik: http://IP_LAPTOP_DI_WIFI_YANG_SAMA:5000
