SUPABASE_URL=https://project-id.supabase.co
SUPABASE_PUBLISHABLE_KEY=isi_publishable_key_supabase_kamu
API_BASE_URL=http://localhost:5000

GEMINI_API_KEY=isi_api_key_gemini_kamu_di_sini
GEMINI_MODEL=gemini-2.5-flash
